.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.app-header-container {
  display: flex;
  background-color: orange;
  max-width: 1000px;
  margin: 0 auto 15px auto;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.app-header-container h1 {
  background-color: red;
}

.app-header-container p {
  font-size: 3rem;
  background-color: blue;
}

.todo-card-list {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo-card {
  background-color: red;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}
